* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-weight: bold;
  font-size: 25px;
}

body {
  background-color: #020929;
  color: #ddd;
}

.titulo {
  margin: 50px 0;
}

.texto-titulo h1{
  font-size:50px;
}

.status {
  margin: 45px 0;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  justify-content: space-between;
}

.game-info {
  margin-right: 100px;
  margin-top: 70px;
}

.game-board {
  margin-left: 400px;
  margin-top:55px;
}

.status {
  margin-left: 70px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float:left;
  font-size:40px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  border-radius:2px;
}

.board-row {
  margin-left:70px;
}